.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
  text-align: center;
  letter-spacing: 1px;
  background-color: #292727;
  height: 100vh;
  width: 100vw;
}

  :root {
    --text-color: #F0F0F0; 
    --secondary-color: #717171;
    --box-shadow: #1d1c1c;
  }

