* {
  margin: 0;
  box-sizing: border-box;
}

.canvas-wrapper {
  width: 500px;
  height: 500px;
  margin: 0px 50px;
}

.ourCanvas {
  border: 30px solid var(--secondary-color);
  width: 500px;
  height: 500px;
}
