* {
  margin: 0;
  box-sizing: border-box;
}

.canvas-wrapper {
  width: 500px;
  height: 500px;
  margin: 0px 50px;
}

#box {
  border: 30px solid var(--secondary-color);
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 8px var(--dark-shadow), -5px -5px 8px var(--dark-shadow); 
}

#player {
  background-color: blue; 
  height: 50px; 
  width: 50px; 
  position: absolute;
}
