* {
  margin: 0;
  box-sizing: border-box;
}

.canvas-wrapper {
  width: 500px;
  height: 500px;
  margin: 0px 50px;
  background-color: #292727;
  position: relative;
  border: 20px solid var(--secondary-color);
  box-shadow: 5px 5px 8px var(--dark-shadow), -5px -5px 8px var(--dark-shadow);
}

#box {
  border: 30px solid var(--secondary-color);
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 8px var(--dark-shadow), -5px -5px 8px var(--dark-shadow); 
}

#player {
  height: 60px;
  position: absolute;
  filter: brightness(1.1) drop-shadow(3px -3px 3px var(--dark-shadow));
}

#enemy {
  height: 80px;
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  filter: brightness(1.1) drop-shadow(5px 5px 5px var(--dark-shadow));
}

.fish {
  height: 30px;
  position: absolute;
  filter: drop-shadow(5px 5px 5px var(--dark-shadow));
}

.showPaused {
  height: 460px;
  width: 460px;
  color: var(--bright-color);
  text-shadow: 5px 5px 5px var(--dark-shadow);  
  font-size: 48px;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}

.hiddenPaused {
  display: none;
}

@media screen and (max-width: 980px) {
  .canvas-wrapper {
    margin: 0px 10px;
  }
}