footer {
  display: flex;
  bottom: 0;
  position: absolute;
  padding-bottom: 20px;
  text-shadow: 5px 5px 5px var(--dark-shadow);
}

footer > h2 {
  margin-left: 40px;
  transition: all .5s ease;
  color: var(--secondary-color)
}

footer > .links:hover {
  opacity: 0.6;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}