footer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  bottom: 0;
  position: absolute;
  padding-bottom: 10px;
  text-shadow: 5px 5px 5px var(--dark-shadow);
  font-size: 1em;
}

footer > h2 {
  transition: all .5s ease;
  color: var(--secondary-color);
  font-size: 1.5em;
}

footer > .links:hover {
  opacity: 0.6;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 790px) {
footer {  
  font-size: 0.75em;
  }
}