.points-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  height: 500px;
  width: 180px;
  box-shadow: 5px 5px 5px var(--dark-shadow);  
}

.points-box > img {
  height: 150px;
  padding: 10px 10px;
  filter: drop-shadow(1px 1px 1px var(--light-shadow))
}

.points-box > h2 {
  color: var(--text-color);
  text-align: center;
  padding: 10px 10px;
  text-shadow: 2px 2px 2px var(--light-shadow);
}
