.landing {
  color: var(--text-color);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing > h1 {
  text-shadow: 5px 5px 5px var(--dark-shadow);
}

#landing-button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  margin: 20px 0px;
  width: 50%;
  box-shadow: 5px 8px 10px var(--dark-shadow), -5px 10px 10px var(--dark-shadow);
  transition: all .5s ease;
}

#landing-button > h2, #landing-button {
  transition: all .5s ease;
}

#landing-button > h2 {
  text-shadow: 2px 2px 2px var(--light-shadow);
}

/* Pseudo classes for the 'enter' button */
#landing-button > h2:hover {
  opacity: 0.9;
}

#landing-button:hover {
  opacity: 0.8;
}

#landing-button:active {
  box-shadow: none;
}


.landing > .users > .user-card > img:focus {
  opacity: 0;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5% 0;
}

.user-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  cursor: pointer;
}

.user-card > img {
  width: 150px;
}

.users > .user-card:active {
  mix-blend-mode: overlay;
}